html{
	background: url(background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
	margin: 0;

}
.container{
	width: 40%;
	height: 60%;
	text-align: center;
	background-color: rgba(52, 73, 94, 0.7);
	border-radius: 4px;
	margin: auto;
	margin-top:  1%;
}

input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="integer"]{
	height: 45px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 20px;
}
input[type="radio"]{
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 20px;
	vertical-align:left;

}
.btn-reg{
	padding: 15px 25px;
	color: #fff;
	background-color: #2ECC71;
	border: none;
	border-radius: 4px;
	border-bottom: 4px solid #27AE60;
}
.btn-clear{
	padding: 15px 25px;
	color: #fff;
	background-color: #2ECC71;
	border: none;
	border-radius: 4px;
	border-bottom: 4px solid #27AE60;
}

a{
	text-decoration: none;
	color: white;
	font-family: sans-serif;
	margin-bottom: 20px;
}

a:hover{
	color: coral;
	font-weight: bold;
	margin-top: 20px;
}

